<h1>Send - {{title}}</h1>
<p>This is {{title}}</p>
<p>{{message}}</p>
<p>{{userData}}</p>

<h4>Valid unsent files:</h4>
<ul>
{{#each userFiles.valid}}
  <li>
    {{this.id}}
    - {{this.segmentCount}} segments, {{this.waypointCount}} waypoints [<a href="/send/file/{{this.id}}?person_token={{../person_token}}">SEND THIS</a>]
  </li>
{{/each}}
</ul>
<h4>Invalid files:</h4>
<ul>
{{#each userFiles.invalid}}
  <li>
    {{this.id}}
    - {{this.segmentCount}} segments, {{this.waypointCount}} waypoints
  </li>
{{/each}}
</ul>
<h4>Sent files:</h4>
<ul>
{{#each userFiles.sent}}
  <li>
    {{this.id}}
    - {{this.segmentCount}} segments, {{this.waypointCount}} waypoints
  </li>
{{/each}}
</ul>
