<h1>Send - {{title}}</h1>
<p>This is {{title}}</p>
<p>{{message}}</p>
<p>{{userData}}</p>

<h4>Valid unsent files:</h4>

{{#each userFiles.valid}}
  <li>
    {{this.id}}
    - {{this.status}}
  </li>
{{/each}}

<h4>Invalid files:</h4>

{{#each userFiles.invalid}}
  <li>
    {{this.id}}
    - {{this.status}}
  </li>
{{/each}}

